#left-sidebar {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 250px;
    height: 100%;
    float: left;
    margin-top: 50px;
    position: fixed;
    left: 0;
    border-right: 1px solid #e8e8e8;
    background-color: #f8f8f8;
    z-index: 9;
}